{% extends "base.html" %}

{% block title %}Edit Project - PI Management System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4"><i class="fas fa-edit me-2"></i>Edit Project: {{ project.title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            {{ form.title.label(class="form-label") }}
                            {{ form.title(class="form-control") }}
                            {% for error in form.title.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            {{ form.project_id.label(class="form-label") }}
                            {{ form.project_id(class="form-control") }}
                            {% for error in form.project_id.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", rows="4") }}
                        {% for error in form.description.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            {{ form.start_date.label(class="form-label") }}
                            {{ form.start_date(class="form-control") }}
                            {% for error in form.start_date.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            {{ form.end_date.label(class="form-label") }}
                            {{ form.end_date(class="form-control") }}
                            {% for error in form.end_date.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            {{ form.status.label(class="form-label") }}
                            {{ form.status(class="form-select") }}
                            {% for error in form.status.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            {{ form.funding_source.label(class="form-label") }}
                            {{ form.funding_source(class="form-control") }}
                            {% for error in form.funding_source.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            {{ form.funding_amount.label(class="form-label") }}
                            {{ form.funding_amount(class="form-control") }}
                            {% for error in form.funding_amount.errors %}
                                <div class="text-danger small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.team_members.label(class="form-label") }}
                        {{ form.team_members(class="form-select", multiple=True, size="5") }}
                        <div class="form-text">Hold Ctrl (Cmd on Mac) to select multiple members</div>
                        {% for error in form.team_members.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('projects.view_project', id=project.id) }}" class="btn btn-secondary">Cancel</a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}